# Copy this file to .env and add the real values.

FRONTEND_URL=http://127.0.0.1:5173

WEATHER_API_KEY=replace_me
HOME_ASSISTANT_URL=http://replace_me
HOME_ASSISTANT_TOKEN=replace_me
SPOTIFY_CLIENT_ID=replace_me
SPOTIFY_CLIENT_SECRET=replace_me